/* app css stylesheet */

/*

for flexbox.

*/
html,
body {
  height: 100%;
  margin-left: 7px;
  margin-right: 8px;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
  flex: 0 1 30px;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 80px;
  
}

.home {
  background-color:blue
}

.settings {
  background-color:red;
}

.profile {
  background-color:green;
}

.about {
  background-color:yellow;
}


.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}