<!DOCTYPE html>
    {% load staticfiles %}
    
    
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Accountabillibuddy!</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">    

<base href='/' />

<!-- vendors -->

<link rel='stylesheet' type='text/css' href='{% static "app/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" %}'/>
<link rel='stylesheet' type='text/css' href='{% static "app/bower_components/bootstrap/dist/css/bootstrap.min.css" %}'/>
<link rel='stylesheet' type='text/css' href="{% static 'app/bower_components/angular-xeditable/dist/css/xeditable.css'%}">
<link rel='stylesheet' type='text/css' href="{% static 'app/bower_components/cal-heatmap/cal-heatmap.css' %}">

<!-- custom -->
<link rel='stylesheet' type='text/css' href='{% static "app/app.css" %}'/>

<!-- vendors -->

<script src="{% static 'app/bower_components/d3/d3.min.js' %}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js'></script>
<script src="{% static 'app/bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'app/bower_components/angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'app/bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'app/bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script src="{% static 'app/bower_components/angular-xeditable/dist/js/xeditable.min.js' %}"></script>
<script src="{% static 'app/bower_components/cal-heatmap/cal-heatmap.min.js' %}"></script>
<script src="{% static 'app/bower_components/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
<script src="{% static 'app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>

<!-- custom -->





</head>
<body ng-app='buddy'>
  



    
        <!-- Header -->
        <nav>
            <a ng-click="go('/', 'slideLeft')">Home</a>
            <a auth-only ng-click="go('/profile', 'slideRight')">Profile</a>
            <a auth-only ng-click="go('/settings', 'slideDown')">Settings</a>
            <a ng-click="go('/about')">About</a> <!-- note: no transition specified -->
            <a auth-only ng-controller='LogoutController as lg' ng-click='lg.logout()'>Log Out</a>
        </nav>
    
        <!-- App Content Container -->
        <div class="page-container" id='page-contain'>
            <div ng-view class="page-view" ng-class="pageAnimationClass"></div>
        </div>
        

    
        

    
<script src="{% static 'app/js/app.js' %}"></script>

<!-- auth -->

<script src="{% static 'app/js/auth/auth.module.js' %}"></script>
<script src="{% static 'app/js/auth/auth.services.js' %}"></script>
<script src="{% static 'app/js/auth/controllers/login.controller.js' %}"></script>
<script src="{% static 'app/js/auth/controllers/logout.controller.js' %}"></script>
<script src="{% static 'app/js/auth/controllers/register.controller.js' %}"></script>
<script src="{% static 'app/js/auth/controllers/username.controller.js' %}"></script>
<script src="{% static 'app/js/auth/auth.interceptor.js' %}"></script>
<script src="{% static 'app/js/auth/authresponse.interceptor.js' %}"></script>

<!-- directives -->

<script src="{% static 'app/js/static/static.module.js' %}"></script>


<script src="{% static 'app/js/static/homesize.controller.js' %}"></script>


<script src="{% static 'app/js/static/directives/heatmap.directive.js' %}"></script>

<script src="{% static 'app/js/static/directives/tabset.directive.js' %}"></script>

<script src="{% static 'app/js/static/directives/tab.directive.js' %}"></script>

<script src="{% static 'app/js/static/directives/authhide.directive.js' %}"></script>


<script src="{% static 'app/js/static/directives/authonly.directive.js' %}"></script>



<script src="{% static 'app/js/static/directives/numberonly.directive.js' %}"></script>



<!--stats -->
<script src="{% static 'app/js/stats/stats.module.js' %}"></script>
<script src="{% static 'app/js/stats/stats.controller.js' %}"></script>



<!-- activities -->
<script src="{% static 'app/js/plans/plans.module.js' %}"></script>
<script src="{% static 'app/js/plans/activity.service.js' %}"></script>
<script src="{% static 'app/js/plans/activitytable.controller.js' %}"></script>


<!-- profiles -->

<script src="{% static 'app/js/profiles/profiles.module.js' %}"></script>
<script src="{% static 'app/js/profiles/contact.controller.js' %}"></script>
<script src="{% static 'app/js/profiles/info.controller.js' %}"></script>

    







</body>

</html>