<div id='about' class='pages'>
<div class='container' >
 
<div class='row'>
  <h2>What it's for</h2> 
  <div class='well'>
    <p>Accountabillibuddy is a way for you to get into a routine
     and stick with it. Some people have immense willpower and
    never procrastinate. Maybe you aren't one of those three people.
    I built this app to get into an exercise habit. It's really easy
    to tell yourself "I'll do it tomorrow" when nothing is riding on
     getting something it done today. It's even easier when you're juggling
     other responsibilities.</p>
     
  </div>
  
</div>

<div class='row'>
  <h2>Ok then - what does it do?</h2>
  <div class='well'>
    <p>One way to stop avoiding something is to avoid doing something worse.
     Personally, I can't stand random phone calls from robots. I don't like
     talking on the phone to begin with!</p>
    
    <ol>
      <li>You schedule an item on the home page. Note that you can't
      schedule anything earlier than tomorrow. You also can't delete or
      edit a task within 24 hours of it being due.</li>
      <li>If you haven't checked in when the time rolls around,
      the server will call you and yell at you. Otherwise, it leaves
       you alone. You can only check in within an hour before an event.</li>
      <li>If you'd like, you can have Accountabillibuddy tweet you
      kudos!</li>
      
    </ol>
    
    
    
    
    
  </div>
  
</div>
<div class='row'>
  <h2>Usage/DON'T SKIP THIS!</h2>
  <div class='well'>
    To prevent mean-spirited pranks, Accountabillibuddy uses two-factor
     authentication. You'll need to verify your phone number before receiving
     any calls, and if you sign up for tweets, you'll need to verify your account
      to Accountabillibuddy via twitter as well.
    
    
    
  </div>
  
  
  
  
  
</div>

  
  
  
  
</div>
</div>