<div id='profile' class='pages'>
  
  
  


<div class='row'>




		
<div class='col-sm-3'></div>
<div class='col-sm-5'>

<p>
<button style='margin-left: 35%' class='btn btn-default' id='previousSelector'>Previous</button>
		<button class='btn btn-default' id='nextSelector'>Next</button>
</p>    
    
<cal-heatmap>		</cal-heatmap>




<div>
    <table style='margin-top:5%' ng-controller='StatsController'>
        <tr>
            <th style='width: 30%'>Current Streak</th>
            <th style='width: 30%'>Longest Streak</th>
            <th style='width: 35%; text-align: center'>Join Date</th>
            <th style='width: 5%'>Points</th>
        </tr>
        
        <tr>
            <td style='text-align: center'>
                <p>{{ current_streak }}</p>
            
            </td>
            <td style='text-align: center'>
                <p>{{ longest_streak }}</p>
            
            </td>
            <td style='text-align: center'>
                <p>{{ join_date }}</p>
            
            </td>
            <td style='text-align: center'>
                <p>{{ points }}</p>
            
            </td>
        
        
        
        </tr>

        
        
        
        
    </table>
    

</div>


</div>	
<div class='col-sm-4'></div>
	

</div>





  

  
  
  
  
  
  
  
  
  
  
  
  
</div>