<div id='profile' class='pages'>
  
  
  


<div class='row'>




		
<div class='col-sm-3'></div>
<div class='col-sm-5'>

<p>
<button style='margin-left: 30%' class='btn btn-default' id='previousSelector'>Previous</button>
		<button class='btn btn-default' id='nextSelector'>Next</button>
</p>    
    
<cal-heatmap>		</cal-heatmap>


<h3 style='margin-left: 40%'>Checkins</h3>

<div ng-controller='StatsController' style='margin-top: 5%'>

    <div class='row'>
        <p class='pull-left' style='margin-left: 5%'>Current Streak</p>
        <p class='pull-right'>{{ current_streak }}</p>
        
    </div>
    <div class='row'>
        <p class='pull-left' style='margin-left: 5%'>Longest Streak</p>
        <p class='pull-right'>{{ longest_streak }}</p>
        
    </div>
    <div class='row'>
        <p class='pull-left' style='margin-left: 5%'>Join Date</p>
        <p class='pull-right'>{{ join_date }}</p>
        
    </div>
    <div class='row'>
        <p class='pull-left' style='margin-left: 5%'>Points</p>
        <p class='pull-right'>{{ points }}</p>
        
    </div>
</div>


</div>	
<div class='col-sm-4'></div>
	

</div>





  

  
  
  
  
  
  
  
  
  
  
  
  
</div>