<div id='settings' class='pages'>
    <br>
<div class='col-sm-2'></div>
<div class='col-sm-8'>
<tabset>
    <tab heading='Phone Settings'>
        <div class='panel-body'>
            <div class='row'>
                <label>
                <input type='checkbox'>Call Me
                </label>
                
            </div>
            
            
        </div>
        
        
        
    </tab>
    <tab heading='Twitter Settings'>
        <div class='panel-body'>
            
            
            
        </div>
        
        
        
        
    </tab>
    <tab heading='Email Settings'>
        <div class='panel-body'>
            
            
            
        </div>
        
        
        
    </tab>
    
    
    
</tabset>
</div>
<div class='col-sm-2'></div>
</div>